.nav__container{
    display: flex;
    margin: 0 20px;
}
.nav__row{
    display: flex;
    flex-basis: 100%;
}
.nav__col_contact_link{
    flex-basis: 25%;
}
.nav__col_logo{
    flex-basis: 50%;
}
.nav__col_social_icons{
    flex-basis: 25%;
}